<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.levnext.native_audio_trimmer">
  
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
</manifest>